@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body.adminimal,
body.adminimal .action-links .button--primary {
  font-family: 'Droid Arabic Kufi', sans-serif;
}

div.vertical-tabs ul li.vertical-tab-button.selected a,
div.vertical-tabs ul li.vertical-tab-button.selected a:hover,
div.vertical-tabs ul li.vertical-tab-button.selected a:focus,
div.vertical-tabs ul li.vertical-tab-button.selected a:active {
  border-left: 0 none;
  border-right: 5px solid #0074bd;
  margin-left: 0px;
  margin-right: -1px;
}

div.vertical-tabs ul li.vertical-tab-button a {
  border-left: 1px solid #cccccc;
  border-right: 0px;
}

fieldset {
  padding: 12px;
  margin: 0 0 20px;
}

html.js input.form-autocomplete {
  background-position: 7px 7px;
}

input.form-autocomplete,
select.form-select {
  background-position: left 50%;
}

.style-checkboxes input[type=checkbox],
.style-checkboxes input[type=radio] {
  margin-right: 0;
  margin-left: 0.25em;
}

.form-item {
  padding: 0 0 0 1em;
}

input#edit-submit,
input#edit-preview-changes,
input#edit-delete {
  margin-right: 0px;
}

.adminimal select:focus,
.adminimal select:hover {
  background: url(../images/caret-down.svg) no-repeat 2% 64% #fcfcfa;
}

.form-item {
  padding: 0;
}

body ul.tips:before,
body div.description:before,
body .form-item .description:before,
body .form-wrapper .counter:before {
  margin-right: 0;
  margin-left: 4px;
}

#yoast-wrapper {
  direction: ltr;
}

.adminimal .action-links .button--primary {
  line-height: 19px;
}