input[type="text"] {
  max-width: 100%;
}

#branding {
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}

#branding h1.page-title {
  color: #444;
}

div.breadcrumb a:hover {
  color: #333;
}

div.vertical-tabs ul li.first a {
  border-top: 2px solid #0074bd;
}

/* @todo Fix problem in checboxes with adminimal theme + fpa */
.page-admin-people-permissions .dummy-checkbox {
  display: none !important;
}

.adminimal .ui-dialog .ui-dialog-titlebar {
  border-radius: 0;
  background: #007bc6;
}

.node-form .field--name-title input {
  font-size: 22px;
}

/* Style the description of fields */
body ul.tips:before,
body div.description:before,
body .form-item .description:before,
body .form-wrapper .counter:before {
  content: "\00bb";
  font-size: 15px;
  color: #4fa5ff;
  margin-right: 4px;
}

ul.tips,
div.description,
.form-item .description,
body .form-wrapper .counter {
  margin: 0.2em 0 0 0;
  color: #777;
  font-size: 0.9em;
}

/* Hide revision information vertical tabs for media edit*/
.adminimal .ui-dialog.ui-widget.ui-widget-content .media-image-edit-form .form-type-vertical-tabs .vertical-tabs__menu {
  display: none;
}

.adminimal .ui-dialog.ui-widget.ui-widget-content .media-image-edit-form .form-type-vertical-tabs .vertical-tabs__panes {
  margin-right: 0;
  margin-left: 0;
}

.adminimal .ui-dialog.ui-widget.ui-widget-content .media-image-edit-form .form-actions {
  display: none;
}
