body.user-logged-in {
  position: relative;
}
body.user-logged-in.admin-expanded.admin-vertical.admin-nw .navbar {
  margin-left: 260px;
}
body.user-logged-in.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}
body.user-logged-in.navbar-is-fixed-bottom {
  padding-bottom: 64px !important;
}
body.user-logged-in.toolbar {
  padding-top: 30px !important;
}
body.user-logged-in.toolbar .navbar-fixed-top {
  top: 30px;
}
body.user-logged-in.toolbar.navbar-is-fixed-top {
  padding-top: 94px !important;
}
body.user-logged-in.toolbar-drawer {
  padding-top: 64px !important;
}
body.user-logged-in.toolbar-drawer .navbar-fixed-top {
  top: 64px;
}
body.user-logged-in.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 128px !important;
}
body.user-logged-in.admin-menu .navbar-fixed-top {
  top: 29px;
}
body.user-logged-in.admin-menu.navbar-is-fixed-top {
  padding-top: 93px !important;
}
body.user-logged-in div#admin-toolbar {
  z-index: 1600;
}
body.user-logged-in #toolbar,
body.user-logged-in #admin-menu,
body.user-logged-in #admin-toolbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
body.user-logged-in #admin-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
}
body.user-logged-in #admin-menu .dropdown li {
  line-height: normal;
}
body.user-logged-in.navbar-is-fixed-top .navbar-fixed-top,
body.user-logged-in.navbar-is-fixed-top .navbar-fixed-bottom {
  z-index: 499;
}
body.user-logged-in.navbar-is-fixed-top .navbar-fixed-top {
  top: auto;
}
body.user-logged-in.navbar-is-fixed-top#navbar-administration.navbar-horizontal.navbar-tray-open {
  margin-top: 143px!important;
}
body.user-logged-in.navbar-is-fixed-top#navbar-administration.navbar-horizontal.navbar-tray-open .navbar-tray-open {
  top: 79px;
}
body.user-logged-in.navbar-is-fixed-top#navbar-administration .navbar-fixed-top {
  top: 39px;
}
body.user-logged-in #navbar-administration.navbar-oriented .navbar-bar {
  z-index: 1032;
}
body.user-logged-in #navbar-administration.navbar-oriented .navbar-tray-vertical {
  width: 24rem;
}
body.user-logged-in #navbar-administration .navbar-tray {
  z-index: 1031;
}
body.user-logged-in.navbar-is-fixed-top#navbar-administration.navbar-vertical.navbar-tray-open .navbar-fixed-top {
  left: 240px;
  left: 24rem;
}
