// Vartheme Better Login styling.
// -----------------------------------------------------------------------------
@import "../../bootstrap/less/variables.less";  // Bootstrap variables.
@import "../../bootstrap/less/mixins.less";     // Bootstrap mixins.
@import "../variables.less";                    // Vartheme variables.
@import "../mixins.less";                       // Vartheme mixins.
// -----------------------------------------------------------------------------

#auth-box {
  padding: @navbar-height 0 0;
  text-align: center;

  h1#the-logo {
    text-align: center;
    margin: 0;
    padding: 0 0 25px;
  }

  h2.title {
    margin: 0;
    padding: 0 0 15px;
    font-size: 2em;
  }

  #middle-part {
    border-radius: 3px;
    background: @body-bg;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 0 3px 1px @popover-fallback-border-color;
  }

  .back-link {
    padding: 15px 0 0;
  }

  #bottom-part {
    font-size: 13px;
    padding: 15px 0 0;
  }

  .user-form {
    .form-control {
      max-width: 100%;
    }
  }

  .block-title {
    text-align: center;
    background: #eeeeee;
    height: 1px;
    margin: 30px 0;

    span {
      background-color: #ffffff;
      text-transform: uppercase;
      font-size: 18px;
      padding: 0 10px;
      background: #fff;
      padding: 10px;
      position: relative;
      top: -20px;
    }
  }

  .user-login-form {
    text-align: left;
  }
}
