// Varbase media common library style.
// =============================================================================

// Alignment classes for embedded entities.

// Image align center style.
.embedded-entity {
  &.align-center {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    figcaption {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  
  &.align-right {
    margin: 0 0 8px 8px;
    
    figcaption {
      text-align: center;
    }
  }
  
  &.align-left {
    margin: 0 8px 8px 0;
    
    figcaption {
      text-align: center;
    }
  }
}

picture {
  &.align-right {
    margin: 0 0 8px 8px;
    
    figcaption {
      text-align: center;
    }
  }

  &.align-left {
    margin: 0 8px 8px 0;
    
    figcaption {
      text-align: center;
    }
  }
}

figure {
  &.align-center {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    figcaption {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  
  &.align-right {
    display:table;
    margin: 0 0 8px 8px;
    
    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }

  &.align-left {
    display:table;
    margin: 0 8px 8px 0;
    
    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }
}

img {
  &.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &.align-right {
    margin: 0 0 8px 8px;
  }
}

// Image caption Right and Left style (Fit Image).
figure.align-right,
figure.align-left {
  display:table;
  
  figcaption {
    display: table-caption;
    caption-side: bottom;
  }
}
