.file {
  display: table;
  font-size: 75%;
  font-weight: 700;
  margin: 5px 0;
  width: 100%;
}
.file > span {
  background: #fff;
  color: #337ab7;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.file > span:first-child {
  border-left: 1px solid #ccc;
}
.file > span:last-child {
  border-right: 1px solid #ccc;
}
.file > .tabledrag-changed {
  background: #fcf8e3;
  border-radius: 0;
  color: #8a6d3b;
  display: table-cell;
  padding: 0 1em;
  top: 0;
  vertical-align: middle;
  border-left: 1px solid inherit;
}
.file > .tabledrag-changed,
.file > .tabledrag-changed:last-child {
  border: 1px solid #f7e1b5;
}
.file-icon {
  display: table-cell;
  font-size: 150%;
  padding: .25em .5em;
  text-align: center;
  vertical-align: middle;
}
.file-link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.file-link a,
.file-link a:hover,
.file-link a:focus,
.file-link a:active {
  color: inherit;
}
.file-size {
  display: table-cell;
  padding: 0 1em;
  text-align: right;
  white-space: pre;
  vertical-align: middle;
}
.image-widget.row {
  overflow: hidden;
}
