table .checkbox.form-no-label,
table .radio.form-no-label {
  margin-bottom: 0;
  margin-top: 0;
}
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
.form-inline .select-wrapper {
  width: auto;
}
.input-group .select-wrapper {
  display: table-cell;
}
.input-group .select-wrapper:first-child .form-control:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group .select-wrapper:last-child .form-control:first-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1;
  padding-right: 2em;
}
.select-wrapper select::-ms-expand {
  opacity: 0;
}
.select-wrapper:after {
  color: #337ab7;
  content: '▼';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: -0.5em;
  padding-right: .5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
}
.has-glyphicons .select-wrapper:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e114';
  display: inline-block;
  font-family: 'Glyphicons Halflings';
}
.has-error .select-wrapper:after {
  color: #a94442;
}
.has-success .select-wrapper:after {
  color: #3c763d;
}
.has-warning .select-wrapper:after {
  color: #8a6d3b;
}
.form-required:after {
  background-image: url(../../images/required.svg);
  background-size: 10px 7px;
  content: "";
  display: inline-block;
  line-height: 1;
  height: 7px;
  width: 10px;
}
.form-actions .btn,
.form-actions .btn-group {
  margin-right: 10px;
}
.form-actions .btn-group .btn {
  margin-right: 0;
}
