body.toolbar-fixed .toolbar-oriented .toolbar-bar {
  z-index: 1031;
}
body.toolbar-fixed .navbar-fixed-top {
  top: 39px;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .navbar-fixed-top {
  top: 79px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open .navbar-fixed-top {
  left: 240px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed {
  margin-left: 240px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray {
  padding-bottom: 40px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray,
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray > .toolbar-lining:before {
  width: 240px;
}
