.print {
  display: none;
}

.vertical-margin {
  margin: 15px 0 0;
}

#nav {
  margin-top: 32px;
  position: static;
  width: auto;
  background: none;
  border-radius: none;
  border:0px none;
  box-shadow: none;
  font-size: 14px;
}

#page-header {
  background: none repeat scroll 0 0 #EBEBEB;
  padding: 23px 0;
}

.row section {
  -webkit-transition: width 0.2s ease, margin 0.5s ease;
     -moz-transition: width 0.2s ease, margin 0.5s ease;
       -o-transition: width 0.2s ease, margin 0.5s ease;
          transition: width 0.2s ease, margin 0.5s ease;
}

section {
  overflow: hidden;
}

#skip-links a,
#skip-links a:link,
#skip-links a:visited,
#skip-links a:hover {
  height:1px;
  left:0;
  overflow:hidden;
  position:absolute;
  top:-500px;
  width:1px;
}

#skip-links a:active,
#skip-links a:focus {
  position:static;
  height:auto;
  width:auto;
  display: block;
}