.author-info {
  color: #696969;
  display: inline-block;
}
.author-info .field--name-node-author {
  float: left;
  padding-right: 10px;
  border-right: 1px solid #979797;
}
.author-info .field--name-node-post-date {
  padding-left: 10px;
  float: left;
}
.field--name-field-tags .field--label {
  margin-top: 15px;
}
.field--name-field-tags .field--item {
  display: inline-block;
}
.field--name-field-tags .field--item a {
  padding: 6px 12px;
  margin: 5px 5px 5px 0;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  color: #777;
  border: 1px solid #777;
}
.field--name-field-tags .field--item a:hover {
  color: #428bca;
  border: 1px solid #428bca;
}
.blog-listing article {
  border: solid 1px #d4d4d4;
}
.blog-listing article .description {
  padding: 15px 20px 44px 20px;
}
.blog-listing article .field--name-field-image img {
  width: 100%;
}
.blog-listing article .field--name-node-link {
  float: right;
}
@media (min-width: 992px) {
  .blog-listing .row {
    display: flex;
  }
  .blog-listing .row .blog-item {
    display: flex;
  }
  .blog-listing .row .blog-item article {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}
.blog-listing.homepage-blog .more-link {
  text-align: center;
}
.blog-listing.homepage-blog .more-link a {
  background: #337ab7;
  color: white;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu--blog-menu {
  text-align: center;
  margin: 20px auto;
}
.menu--blog-menu.nav li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.menu--blog-menu.nav li a {
  color: #666;
  font-size: 20px;
  padding: 0;
  border-bottom: solid 2px transparent;
}
.menu--blog-menu.nav li a:hover,
.menu--blog-menu.nav li a:focus,
.menu--blog-menu.nav li a.is-active {
  border-bottom: solid 2px #29aae1;
  text-decoration: none;
  background: transparent;
}
.blog-tags .views-row {
  padding: 0 4px;
  color: #696969;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #f7f7f7;
}
.blog-tags .views-row a {
  font-size: 14px;
  color: #696969;
  line-height: 23px;
}
.blog-tags .views-row a:hover {
  color: #328ec7;
}
