body.html {
  padding-top: 0px;
}

body.toolbar {
  padding-top: 30px !important;
}

body.toolbar-drawer {
  padding-top: 65px !important;
}

.clearfix {
  clear: both;
}

.row {
  margin-left: -30px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 30px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1000px;
}
.span12 {
  width: 1000px;
}
.span11 {
  width: 970;
}
.span10 {
  width: 930px;
}
