{#
/**
 * @file
 * Page user edit.
 */
#}

{% extends  "page.html.twig" %}
{# Content #}
{% block content %}
  <a id="main-content"></a>
  <div id="auth-box" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <div id="middle-part">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
