.bg-edge2edge {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.bg-edge2edge:before {
  content: " ";
  display: table;
}
.bg-edge2edge:after {
  clear: both;
}
body {
  overflow-x: hidden;
}
